<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knowledge Is Power</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    {{!-- When loggedin, show Logout button --}}
    <button id="logout" class="logout-btn">Logout</button> 
    {{/if}}
  </nav>

  <header>
    <h1>Knowledge Is Power</h1>
  </header>
  
  <main>
    <div class="main">
      {{{body}}}
    </div>
  </main>
  
  {{#if quizStarted}}
  <div class="quiz-score">
    <h2>Score: {{score}}</h2>
  </div>
  {{/if}}
  
  <script src="/js/quiz.js"></script>
</body>
</html>