<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knowledge Is Power</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    {{!-- When loggedin, show Logout button --}}
    <button id="logout" class="logout-btn">Logout</button> 
    {{else}}
    {{!-- When loggedout, show Login button --}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>

  <header>
    <h1>Knowledge Is Power</h1>
  </header>
  
  <main>
    <div class="main">
      {{{body}}}
    </div>
  </main>
  
  {{#if loggedIn}}
  {{!-- When loggedin, Logout button is activated --}}
  <script src="./js/logout.js"></script>
  {{/if}}
   <script src="./js/quiz.js"></script>
</body>
</html>