
{{#each posts as |post|}}
{{> dashboard-post}}
{{/each}}
<div class="new-post-btn-section">
  <button id="newpost" class="btn-new-post">
    <a href="/dashboard/newpost">Create a new post</a>
  </button>
</div>