<div class="container">
  <h2 class="main-content">Welcome to Knowledge is Power</h2>
  <p class="main-content">Are you ready to start the quiz?</p>
  {{#if loggedIn}}
    <a class="button is-primary begin-quiz-btn" href="/quiz/start">Begin Quiz</a>
  {{else}}
    <p>Please log in to start the quiz.</p>
  {{/if}}
</div>
