<div class="container">
  <h2 class ="main-content"> Welcome to Knowledge is Power</h2>
  <p class = "main-content"> Are you ready to start the quiz?</p>
  <button class="button is-primary begin-quiz-btn">Begin Quiz</button>
</div>

{{!-- {{#unless loggedIn}}
  <div class="container">
    <h2>Welcome to Knowledge is Power</h2>
    <p>Please log in or create an account to start the quiz.</p>
    <a href="/login" class="button is-primary">Log In</a>
    <a href="/signup" class="button is-light">Sign Up</a>
  </div>
{{else}}
  <div class="container">
    <h2>Welcome to Knowledge is Power</h2>
    <p>Are you ready to start the quiz?</p>
    <button class="button is-primary begin-quiz-btn">Begin Quiz</button>
  </div>
{{/unless}} --}}
