
<div class="login-signup">
  <h2 class="add-comment-title">Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="username-login">Username</label><br/>
      <input class="form-input" type="text" id="username-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password (8+ characters)</label><br/>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn-submit" type="submit">Login</button>
    </div>
  </form>
  <a href="/signup">New user? Click HERE for signup!</a>
</div>

<script src="../public/js/login.js"></script>