{{!-- This is for "/dashboard/newpost" --}}
<div class="new-post">
  <h2 class="add-comment-title">Create a new post</h2>
  <form class="form newpost-form">
    <div class="form-group">
      <label for="title-newpost">Title</label><br/>
      <input class="form-input" type="text" id="title-newpost" />
    </div>
    <div class="form-group">
      <label for="content-newpost">Content</label><br/>
      <input class="form-input" type="text" id="content-newpost" />
    </div>
    <div class="form-group">
      <button class="btn-submit" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="../js/new-post.js"></script>