  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
      <button id="logout" class="logout-btn">Logout</button>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </nav>

  <header>
    <h1>Quiz</h1>
  </header>
  
  <main>
    <div id="quiz"></div>
    <button id="submit">Submit Quiz</button>
    <div id="results"></div>
  </main>
  
  {{!-- <script src="../public/js/logout.js"></script>  --}}
  {{!-- <script src="../public/js/quiz.js"></script> --}}