<div class="login-signup">
  <h2 class="add-comment-title">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">Username</label><br/>
      <input class="form-input" type="text" id="username-signup" name="username" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password (8+ characters)</label><br/>
      <input class="form-input" type="password" id="password-signup" name="password" />
    </div>
    <div class="form-group">
      <button class="btn-submit" type="submit">Signup</button>
    </div>
  </form>
  <a href="/login">Already a user? Click HERE for login!</a>
</div>


{{!-- src as seen below results in an event listener error going back to signup.js
      I tried it with "../public/js/signup.js" which appears to be the correct relative path,
      but then this resulted in a MIME error. Tried adding code to server.js 
      and this just gets 404'd --}}
<script src="./js/signup.js"></script>
