{{!-- This is for "/signup" --}}
<div class="login-signup">
  <h2 class="add-comment-title">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">Username</label><br/>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password (8+ characters)</label><br/>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn-submit" type="submit">Signup</button>
    </div>
  </form>
  <a href="/login">Already a user? Click HERE for login!</a>
</div>

<script src="./js/signup.js"></script>